<% if user_signed_in? && @exhibition.place.user_id == current_user.id %>
  <h1>Editing Exhibition</h1>

  <%= render 'form' %>

  <%= link_to 'Voir plus', @exhibition %> |
  <%= link_to 'Retour', exhibitions_path %>
<% else %>
  <p>Vous ne pouvez pas modifier ce lieu</p>
  <%= link_to 'Retour', exhibitions_path %>
<% end %>
