<% @exhibitions.each do |exhibition| %>
<article>
  <h2><%= link_to exhibition.name, edit_exhibition_path(exhibition) %></h2>
  <p>
    <span><em>Status: <%= exhibition.status %></em></span>
  </p>
</article>
<% end %>