<section class="page-container">
	<div class='content'>
		<h1>À propos de nous</h1>

		<div class="pure-g">
			<div class="pure-u-1">
				<iframe width="100%" height="500px" src="https://www.youtube.com/embed/sIc9paAtGAA" frameborder="0" allowfullscreen></iframe>
			</div>

			<div class="pure-u-1 pure-u-lg-1-2" >
				<h2>TEXPOSOU</h2>
				<h3>C'est quoi ?</h3>
				<p>
					Fondée en 2016 par un groupe d’étudiants bordelais, Texposou est une plate- forme web qui a pour objectif de promouvoir la culture artistique en permettant aux artistes d’exposer et de partager leurs créations. Cet outil permet aux artistes, de louer un espace à des particuliers ou professionnels pour exposer leurs oeuvres.
				</p>
				<p>
					Qu'il s'agisse d'un appartement, d’un garage ou d’un local, un particulier peut proposer son bien pour faire partager son amour de l’art et donner un coup de pouce à de jeunes artistes. La plate-forme offre également la possibilité à des professionnels de louer, le temps d’une soirée ou d’une semaine, leurs bars, leurs restaurants ou leurs commerces.
				</p>
				<p>
					Texposou est le moyen le plus fiable et rapide pour trouver un lieu d’exposition à moindre coût.
				</p>
			</div>
			<div class="pure-u-1 pure-u-lg-1-2">
				<div> <!-- à éditer -->
					<%= image_tag("about-image1.jpg", :class => "pure-img") %>
				</div>
			</div>

			<!-- 2 -->

			<div class="pure-u-1 pure-u-md-1-2">
				<div> <!-- à éditer -->
					<%= image_tag("about-longer-image.jpg", :class => "pure-img") %>
				</div>
			</div>
			<div class="pure-u-1 pure-u-lg-1-2">
				<h2>TEXPOSOU</h2>
				<h3>Ce que l'on propose</h3>
				
				<h4>Don en ligne</h4>
				<p>
					Vous souhaitez soutenir un artiste dont vous appréciez le travail ? Montrez lui votre soutien, faites lui un don !
				</p>
				
				<h4>Achat des oeuvres</h4>
				<p>
					Vous avez été à une exposition et vous avez adoré une oeuvre d’un artiste? Magnifique et unique, vous voulez absolument l’accrocher dans votre salon ! Et bien c’est possible grâce à Texposou. Allez sur la page de l’artiste en question, cliquez sur ..... et le tour est joué. Votre salon sera le plus beau !
				</p>
				
				<h4>Portfolio de l'artiste</h4>
				<p>
					Moyen le plus simple pour connaître le travail d’un artiste ? Son portfolio ! Texposou vous propose une fiche sur l’artiste qui vous intéresse ainsi qu’une présentation de ses différentes oeuvres. Cliquez sur « portfolio » sur la fiche de présentation de l’artiste et le tour est joué.
				</p>
				
				<h4>Agenda</h4>
				<p>
					Le service agenda vous permet de trouver l’exposition qui vous intéresse. Taper dans le moteur de recherche la date, le lieu et le type d’art que vous recherché et ta da ! Ne reste plus qu’à réserver votre place sur « réserver ma place » et attendre le jour de l’exposition.
				</p>
				
				<h4>Location de matériel</h4>
				<p>
					Artiste, vous voulez exposer mais vous n’avez pas le matériel pour ? Ne vous en faites pas, Texposou est là ! Kit de clous .... vous est loué le temps de votre exposition.
				</p>
			</div>

			<div class="pure-u-1 pure-u-lg-1-2">
				<h2>TEXPOSOU</h2>
				<h3>Mode d'emploi</h3>

				<h4>Louer mon bien :</h4>
				<p>
					Si vous êtes un particulier avec un espace libre (local, garage, appartement...) ou un professionnel (restaurant, bar, commerce...) et que vous souhaitez aider des artistes à partager leur oeuvres, inscrivez-vous sur Texposou. Rien de plus simple :
				</p>
				<p>
					Cliquez sur « PROPOSER UN LIEU »,
				</p>
				<p>
					Rentrez les champs obligatoires et déposez votre annonce en renseignant le lieu, votre disponibilité, le nombre de mètres carrés et de personnes autorisés, deux trois photos et le tour est joué.
				</p>
				<p>
					Il ne reste plus qu’à accueillir les (futurs) artistes.
				</p>

				<h4>Trouver un lieu d'exposition :</h4>
				<p>
					Si vous êtes un artiste et que vous souhaitez exposer votre travail, inscrivez-vous sur Texposou. Rien de plus simple :
				</p>
				<p>
					Faites une recherche selon vos critères, contactez le propriétaire et le tour est joué !
				</p>
				<p>
					Seul ou à plusieurs, il ne reste plus qu’à trouver un espace à louer.
				</p>
			</div>
			<div class="pure-u-1 pure-u-lg-1-2">
				<div> <!-- à éditer -->
					<%= image_tag("about-longer-image2.jpg", :class => "pure-img") %>
				</div>
			</div>
		</div>
	</div>
</section>