<p id="notice"><%= notice %></p>
<div class="col-md-12">
  <h1>Places</h1>
  <p>Voici tout les appartements disponibles :</p>
  <%= render 'places/list' %>

  <h1>Expositions</h1>
  <p>Voice toutes les expositions disponibles</p>
  <%= render 'exhibitions/list' %>
</div>