<p id="notice"><%= notice %></p>

<%= render 'pages/partials/jumbotron' %>

<section class='home-galery'>
  <div class='content last-places'>
    <h2>Derniers lieux proposés</h2>
    <%= render 'places/list' %>
  </div>
  <div class='content last-exhibitions'>
    <h2>Prochaines expositions</h2>
    <%= render 'exhibitions/list' %>
  </div>
</section>
