<section class='jumbotron'>
  <div class='content'>
    <h1>
      <span>Texposou ? _Bordeaux</span>
      Un artiste chez vous.
    </h1>
    <a class='button-howto' href='#'>Mode d'emploi</a>
    <div class='jumbotron-search-form'>
      <form>
        <label for='place'>Lieu d'exposition</label>
        <input class='place' id='place' placeholder="Lieu d'exposition">
        <label for='date-from'>à partir du</label>
        <input class='date-from' id='date-from' placeholder='à partir du'>
        <label for='date-to'>jusqu'au</label>
        <input class='date-to' id='date-to' placeholder="jusqu'au">
        <button>Rechercher</button>
      </form>
    </div>
  </div>
</section>