.container h1 {
    text-align: center;
    padding : 60px 0 40px 0;
}

strong {
    color : #7abccc;
    font-size : 28px;
}

.row {
    margin : 0 0 100px 0;
}

.col-md-5 h6 {
    font-size : 22px;
    margin : 0 0 30px 150px;
}

.col-md-5 p {
    margin : 0 0 14px 0;
    font-size : 15px;
    line-height: 24px;
    text-align: justify;
}

.col-md-5.landscape {
    margin-top : 70px;
}

span {
    color : #fd7d60;
    margin : 0 0 15px 0;
    padding : 0 0 0 0;
    display: block;
    font-weight:bold;
}

.col-md-5 img {
    width: 100%;
}
