nav.navbar.navbar-default.navbar-static-top {
    background-color : white;
    border : 0;
}

/*Navigation right*/

.collapse.navbar-collapse.navbar-right {
    margin : 30px 0 0 0;
}

.collapse.navbar-collapse.navbar-right ul {color : black;}

ul.nav.navbar-nav li {
    padding : 0 10px 0 10px;
}

ul.nav.navbar-nav li a {
    color : black;
    font-size : 16px;
}

ul.nav.navbar-nav li:hover {
    border : 2px solid #fd7d60;
}

ul.nav.navbar-nav li a:hover {
    color : #fd7d60;
}