<h1>Modifier mon lieu</h1>
<% if @place.user_id == current_user.id %>

  <%= render 'form' %>

  <%= link_to 'Show', @place %> |
  <%= link_to 'Back', places_path %>
<% else %>
  <p>Vous ne pouvez pas modifier ce lieu</p>
  <%= link_to 'Back', places_path %>
<% end %>