<h1>Modifier mon lieu</h1>
<% if @place.user_id == current_user.id %>

  <%= render 'form' %>

  <%= link_to 'Show', @place %> |
  <%= link_to 'Back', places_path %>
<% else %>
  <script type="text/javascript">
    window.location.href="<%= place_path(@place) %>"  // put your correct path in a string here
  </script>
<% end %>
