<!DOCTYPE html>
<html class="maintenance">
<head>
  <title>Texposou</title>
  <%= stylesheet_link_tag    'maintenance', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'maintenance', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body	
	<div class="main">
		<header>
			<h1 class="logo">
				<a href="http://texposou.herokuapp.com/">Texposou</a>
			</h1>
			<div class="intro">
				<p class="line">À la recherche d'un espace pour exposer ?</p>
				<p class="line">Texposou met en relation artistes et propriétaires</p>
				<p class="line"> <b>Partagez ensemble votre passion pour l'art !</b></p>
				<a href="#submit" class="button">Site en construction</a>
			</div>
		</header>
		<section id="submit" class="mail-submit">
			<div class="content">
				<h2>Recevez un e-mail quand le site sera ouvert au public</h2>
				<div id="mc_embed_signup">
					<form action="//herokuapp.us13.list-manage.com/subscribe/post?u=f0c1d1cc8fc0a9e63e0f00a2c&amp;id=3dad9f23cd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<div class="mc-field-group">
								<label for="mce-EMAIL">Adresse mail</label>
								<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Votre adresse email... (ex: artiste@texposou.fr)">
							</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true">
								<input type="text" name="b_39ebaac7022f3995e350712e1_7eef197a31" tabindex="-1" value="">
							</div>
							<div class="clear">
								<input type="submit" value="Envoyer" name="envoyer" id="mc-embedded-subscribe" class="button">
							</div>
						</div>
					</form>
				</div>
				<script type='text/javascript' src='http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
				<!--End mc_embed_signup-->
			</div>
		</section>
	</div>

	<footer>
		<div class="content">
			<h2>Rejoignez-nous sur</h2>
			<ul>
				<li class="facebook">
					<a href="https://www.facebook.com/texposou/">facebook</a>
				</li>
				<li class="twitter">
					<a href="https://twitter.com/texposou">twitter</a>
				</li>
				<li class="google">
					<a href="https://plus.google.com/u/0/117601800868554882796">google+</a>
				</li>
			</ul>
		</div>

		<div class="copy">© 2016 Texposou — Tous droits réservés</div>
	</footer>
	<style>
        @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700&subset=latin,latin);
/* line 4, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 9, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
body {
  margin: 0;
}

/* line 12, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 19, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 23, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
[hidden], template {
  display: none;
}

/* line 26, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
a {
  background-color: transparent;
}
/* line 28, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
a:active, a:hover {
  outline: 0;
}

/* line 31, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 34, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
b, strong {
  font-weight: bold;
}

/* line 37, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
dfn {
  font-style: italic;
}

/* line 40, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 44, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
mark {
  background: #ff0;
  color: #000;
}

/* line 48, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
small {
  font-size: 80%;
}

/* line 51, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 57, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 64, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
sub {
  bottom: -0.25em;
}

/* line 67, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
img {
  border: 0;
}

/* line 70, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 73, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
figure {
  margin: 1em 40px;
}

/* line 76, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 81, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
pre {
  overflow: auto;
}

/* line 84, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 88, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 93, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
button {
  overflow: visible;
  text-transform: none;
}

/* line 97, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
select {
  text-transform: none;
}

/* line 100, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 105, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 109, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 112, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 116, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
input {
  line-height: normal;
}
/* line 118, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* line 121, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* line 125, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/* line 127, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 132, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 135, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 140, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
legend {
  border: 0;
  padding: 0;
}

/* line 144, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
textarea {
  overflow: auto;
}

/* line 147, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
optgroup {
  font-weight: bold;
}

/* line 150, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 154, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
td, th {
  padding: 0;
}

/* line 157, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 164, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
html {
  width: 100%;
  height: 100%;
}

/* line 168, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
body {
  width: 100%;
  height: 100%;
  background: #eee;
  position: relative;
  font-family: Source Sans Pro;
}

/* line 175, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
a {
  color: white;
  text-decoration: none;
  transition-duration: none;
}
/* line 179, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
a:hover {
  color: #eee;
}

/* line 182, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
input, textarea, select {
  -webkit-appearance: none;
  outline-width: 0px;
  outline-style: solid;
  outline-color: transparent;
  outline-radius: 3px;
}

/* line 189, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
input:focus, textarea:focus, select:focus {
  outline: none;
  border-color: #7abccc !important;
}

/* line 193, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
.button {
  background: transparent;
  display: inline-block;
  padding: 8px 40px 8px;
  margin: 0 5px;
  font-size: 20px;
  font-weight: normal;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
}
/* line 203, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
.button:hover {
  background: white;
  color: #444;
  border-color: white;
}

/* line 208, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
div.content {
  width: 770px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}

/* line 214, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
header {
  background-color: #7abccc;
  padding: 100px 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* line 221, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
section.mail-submit {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* line 227, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
header h1.logo {
  background: url("/assets/Logo-ea0a9250b11c9ce45aa62069ccf891d1c2e52f057c1958f7b6eec83ed4c07cfb.png") no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  text-indent: -99999px;
  font-size: 0px;
  color: transparent;
  padding: 0;
  margin: 0 auto;
  display: block;
}
/* line 238, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
header h1.logo a {
  display: block;
  width: 95px;
  height: 76px;
}
/* line 242, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
header .intro {
  padding: 100px 0;
  font-weight: 300;
  text-align: center;
  font-size: 30px;
}
/* line 247, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
header .intro .line {
  margin: 0;
  padding: 0;
  color: white;
}
/* line 251, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
header .intro .button {
  margin-top: 75px;
}

/* line 254, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
section.mail-submit, footer {
  padding: 50px 0;
}

/* line 257, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
section.mail-submit div.content, footer div.content {
  text-align: center;
}

/* line 260, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
section.mail-submit h2, footer h2 {
  font-weight: 300;
  font-size: 35px;
}

/* line 264, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
section.mail-submit p, footer p {
  font-size: 20px;
  color: #777;
}

/* line 268, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
section.mail-submit #mc_embed_signup {
  width: 544px;
  margin: 50px auto;
  position: relative;
  z-index: 0;
}
/* line 274, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
section.mail-submit #mc_embed_signup .mc-field-group label {
  display: none;
}
/* line 276, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
section.mail-submit #mc_embed_signup .mc-field-group input {
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
/* line 280, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
section.mail-submit #mc_embed_signup .mc-field-group .email {
  width: 100%;
}

/* line 283, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
input.mce_inline_error {
  width: 544px;
  border: 2px solid #7abccc !important;
  border-radius: 3px 3px 0 0 !important;
}

/* line 288, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
div.mce_inline_error, #mce-error-response {
  width: 544px;
  color: white;
  background-color: #7abccc !important;
  display: block;
  border: 2px solid #7abccc !important;
  padding: 5px 20px !important;
  margin: 0 auto !important;
  border-radius: 0 0 3px 3px;
}

/* line 298, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
#mce-success-response {
  margin-top: 20px;
  color: green;
  font-weight: bold;
}

/* line 303, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
#mc-embedded-subscribe {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  background: #ccc;
  width: auto;
  height: 49px;
  border-color: #7abccc;
  margin: 0;
  border: none;
  font-size: 15px;
  padding: 5px 20px;
}
/* line 316, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
#mc-embedded-subscribe:hover {
  background-color: #7abccc;
  color: white;
  border: none;
}

/* line 321, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 323, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
footer ul {
  margin: 0;
  padding: 0;
}
/* line 326, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
footer ul li {
  list-style: none;
  display: inline-block;
}
/* line 329, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
footer ul li a {
  background-color: #777;
  display: block;
  padding: 10px 15px;
  color: white;
  border-radius: 2px;
}
/* line 335, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
footer ul li.facebook a {
  background-color: #3b5998;
  border: 2px solid #3b5998;
}
/* line 338, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
footer ul li.twitter a {
  background-color: #55acee;
  border: 2px solid #55acee;
}
/* line 341, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
footer ul li.google a {
  background-color: #dc4e41;
  border: 2px solid #dc4e41;
}
/* line 344, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
footer ul li a:hover {
  background-color: transparent;
}
/* line 346, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
footer ul li.facebook a:hover {
  color: #3b5998;
}
/* line 348, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
footer ul li.twitter a:hover {
  color: #55acee;
}
/* line 350, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
footer ul li.google a:hover {
  color: #dc4e41;
}
/* line 352, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
footer .copy {
  text-align: center;
  color: #ccc;
  margin: 50px 0 10px;
}

@media (max-width: 315px) {
  /* line 358, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
  footer ul li {
    display: block;
    margin-bottom: 10px;
  }
}
@media (max-width: 545px) {
  /* line 363, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
  section.mail-submit #mc_embed_signup, div.mce_inline_error, #mce-error-response, input.mce_inline_error {
    width: 100%;
  }
}
@media (max-width: 785px) {
  /* line 367, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
  header {
    padding: 40px 0;
  }

  /* line 369, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
  div.content {
    width: 100%;
    padding: 0 20px;
  }

  /* line 372, /Users/alexandrejolly/Dropbox/Projets/Cours/texposou/Dev/texposou/app/assets/stylesheets/maintenance.sass */
  header .intro {
    padding: 60px 20px;
    font-size: 30px;
  }
}
    </style>
</body>
</html>